# <font color = "red"> Utilizando a Arquitetura LTSM para prever o próximo valor da Taxa Selic

In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf # modelo de deep learn
from sklearn.preprocessing import MinMaxScaler # normalizar os dados
from sklearn.metrics import mean_squared_error # calcular o erro
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
# Carregamento dos dados
dados = pd.read_csv("C:/Projetos Pessoais/DataScience/Previsao_Juros_BACEN_IA/data/dados_scraping")

In [10]:
dados

           Data Taxa_Selic
0    06/11/2024      11,25
1    18/09/2024      10,75
2    31/07/2024      10,50
3    19/06/2024      10,50
4    08/05/2024      10,50
..          ...        ...
269  23/10/1996       1,78
270  23/09/1996       1,82
271  21/08/1996       1,88
272  30/07/1996       1,90
273  26/06/1996       1,90

[274 rows x 2 columns]

Invertendo a ordem do DataFrame, para facilitar o treinamento do modelo

In [14]:
dados_selic = dados.iloc[::-1].reset_index(drop=True)

# Exibindo o DataFrame invertido
dados_selic

           Data Taxa_Selic
0    26/06/1996       1,90
1    30/07/1996       1,90
2    21/08/1996       1,88
3    23/09/1996       1,82
4    23/10/1996       1,78
..          ...        ...
269  08/05/2024      10,50
270  19/06/2024      10,50
271  31/07/2024      10,50
272  18/09/2024      10,75
273  06/11/2024      11,25

[274 rows x 2 columns]

In [12]:
dados.columns

Index(['Data', 'Taxa_Selic'], dtype='object')

In [13]:
dados.isna().sum()

Data          0
Taxa_Selic    0
dtype: int64

 - Alterando o tipo da taxa selic

In [17]:
dados_selic["Taxa_Selic"] = dados_selic["Taxa_Selic"].replace(",", ".", regex=True)

In [18]:
# Alterando os tipos das variaveis
dados_selic['Taxa_Selic'] = dados_selic['Taxa_Selic'].astype(float)

In [19]:
dados_selic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274 entries, 0 to 273
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Data        274 non-null    object
 1   Taxa_Selic  274 non-null    float64
dtypes: float64(1), object(1)
memory usage: 4.4+ KB